{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="container mt-2 rounded bg-light p-4">
    <h2>Bienvenue sur watchphilia</h2>
</div>
{% endblock %}
